.title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.title::before {
  content: open-quote;
}
.title::after {
  content: close-quote;
}
ul {
  font-size: 20px;
  color: black;
}
.list:active {
  color: violet;
}

li:hover {
  color: green;
  cursor: pointer;
}
