.skills {
  @include sm-min {
    margin-bottom: ($gap / 2) * 3;
    padding: $gap / 2;
  }
  @include sm {
    padding: $gap;
  }
}

.skills__container {
  display: grid;

  margin-bottom: $gap;

  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
  @include lg-min {
    gap: $gap / 2;
    grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
  }
  @include lg-md {
    gap: $gap / 2;
    grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
  }
  @include md-sm {
    gap: $gap / 2;
    grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
  }
  @include sm {
    gap: $gap;
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
  }
}

.skills__actions {
  display: flex;
  justify-content: center;
}

.skill-item {
  position: relative;

  overflow: hidden;

  @media (min-height: 691px) {
    .skill-item {
      min-height: calc(33.33vh - 40 / 3);
    }
  }

  @media (max-height: 690px) {
    .skill-item {
      max-height: calc(230px - 40 / 3);
    }
  }

  .skill-item:hover .skill-item__overlay {
    opacity: 0.95 !important;
  }
}

.skill-item:hover .skill-item__image {
  transition: transform 0.5s;
  transform: scale(1.1);
}

.skill-item:hover .skill-item__link {
  transition: color 0.5s;

  color: $color-accent;
}

.skill-item__image {
  // @include unlist;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0.8;
  background-color: $color-primary;
  background-position: center;
  background-size: cover;
}

.skill-item__title {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 0;

  letter-spacing: 0.1em;

  opacity: 0.8;

  @include md-min {
    font-size: 1.25rem;
  }
  @include md {
    font-size: 1.125rem;
  }
}

.skill-item__link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: $gap;

  transform: color 0.5s;
}

.skill-item {
  min-height: calc(33.33vh - 40px / 3);
}

@for $i from 1 through 9 {
  .skill-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}

.skill-item__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: opacity 0.5s;

  opacity: 0.8;
  background-color: $color-primary;
}
